
html, body
{
	height: 100%;
}
body
{
	margin: 0px;
	padding: 0px;
	font-family: 'microsoft yahei', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #000000;
}
h1, h2, h3
{
	margin: 0;
	padding: 0;
}
p, ol, ul
{
	margin-top: 0;
}
ol, ul
{
	padding: 0;
	list-style: none;
}
p
{
	line-height: 180%;
}

a
{
	color: #CC0000;
}

a:hover
{
	text-decoration: none;
}

.container
{
	overflow: hidden;
	margin: 0em auto;
	width: 1000px;
}

#wrapper
{
	background: #020202;
	clear:both;
	overflow:hidden
}
#wp
{
	width:980px;
	margin:0 auto
}

#header-wrapper
{
	background: url(images/bg2.jpg) no-repeat center;
	background-size: cover;
	border-top: 10px solid #00cc66;
}

#header
{
	position: relative;
	padding: 5em 0em;
}

#logo h1
{
	position: absolute;
	top: 0;
	left: 0;
	padding: 1em 1em;
	background: #00cc66;
	border-radius: 0px 0px 5px 5px;
}

#logo a
{
	text-decoration: none;
	color: #FFF;
}
#logo img {
	max-width: 240px; 
	max-height: 120px; 
  }

#menu
{
	position: absolute;
	top: 4em;
	right: 0;
}

#menu ul
{
	display: inline-block;
}

#menu li
{
	display: block;
	float: left;
	text-align: center;
}

#menu li a, #menu li span
{
	padding: 1em 1.5em;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.90em;
	font-weight: 600;
	color: #FFF;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
	background: #00cc66;
	border-radius: 5px;
}

#banner
{
	padding: 10em 0em;
}

#banner span
{
	display: block;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	font-size: 2.5em;
	color: #FFF;
}


.log
{
	clear:both;
	overflow:hidden;
	zoom:1;
	color:#fff;
	padding-bottom:20px
}
.log a,.log a:hover
{
	color:#fff
}
.log-tit
{
	font-size:44px;
	padding:50px 0 0 133px

}
.log-tit .logo
{
	display:inline-block;
	width:40px;
	height:40px;
	background:url(images/logo.png) no-repeat;
	vertical-align:middle;
	margin:0 25px
}
.log-bd
{
	clear:both;
	overflow:hidden;
	zoom:1;
	padding:60px 0;
	margin: 0 auto;
	background:url(images/line_5.png) repeat-y 354px;
	margin-top:-8px;
	font-size:14px;
	line-height:30px
}.log-bd h2
{
	width:333px;
	text-align:right;
	font-size:16px;
	font-weight:normal;
	padding-bottom:5px
}.log-bd h2 .arr
{
	float:right;
	font-size:0;
	width:0;
	height:0;
	border-width:5px;
	vertical-align:middle;
	border-style:solid dashed dashed dashed;
	border-color:#ffffff transparent transparent transparent;
	margin:13px 5px 0 10px
}
.log-bd h2 .arr-on
{
	border-style:dashed dashed solid dashed;
	border-color:transparent transparent #fff transparent;
	margin:8px 5px 0 10px
}
.log-bd dl
{
	clear:both;
	overflow:hidden;
	zoom:1;
	padding-bottom:10px
}
.log-bd dt
{
	float:left;
	width:361px;
	text-align:right
}
.log-bd dt .dot
{
	float:right;
	width:13px;
	height:13px;
	background:url(images/dot_2.png) no-repeat;
	margin-left:20px;margin-top:9px
}
.log-bd dd
{
	overflow:hidden;
	zoom:1;
	padding-left:20px
}

#accordion-header {
    cursor: pointer;
}

.hidden {
	max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.accordion-content {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 2s ease-out;
}

.accordion-content.show {
    max-height: 1000px;
}